/*头部区域*/

header {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    transition: 0.3s;
}

.menu-nav {
    text-align: center;
    width: 30px;
    cursor: pointer;
    margin: 15px 0px;
}

.menu-nav img {
    opacity: 0.8;
}

.menu-nav img:hover {
    opacity: 1;
}

.menu-nav span {
    font-size: 12px
}


.logo img {
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 97px;
    margin-top: 10px;
}


.callout {
    font-size: 16px;
    color: #4e4e4e;
    margin: 15px 10px;
}

.callout a {
    font-size: 14px;
    font-weight: 600;
    padding: 0 2px;
    color: #007ac3
}

.callout a:hover {
    color: #3179f1
}


header.on {
    padding: 0;
}

header.on .menu-nav {
    margin: 5px 10px
}

header.on .logo {
    width: 80px;
    margin-top: 1px;
}

header.on .callout {
    margin: 5px 10px;
    font-size: 14px;
}


/*banner区域*/

.banner .swiper-slide a {
    display: block;
    height: 720px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}


.banner .swiper-slide h2 {
    padding-top: 200px;
    font-size: 70px;
}

.banner .swiper-slide h3 {
    padding: 10px 0;
}

.banner .swiper-slide p {
    padding: 10px 0;
}

.banner-sub{ margin-top: 105px;}
.banner-sub img{ width: 100%;}



/*notive*/

.notice {
    margin-top: 40px;
}

.notice_title {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.notice hr {
    width: 150px;
    height: 3PX;
    border: none;
    padding: 0;
    border-top: 1px dashed #1c6ffe;
    margin-top: 20px;
    margin-bottom: 0;
}

.text p {
    color: #999;
    line-height: 30px;
    padding-top: 10px;
}

.text button {
    margin-top: 20px;
}

.notive-pic {
    width: 80%;
}

.notive-pic img {
    width: 100%;
    float: right;
    padding-top: 30px
}


/*course_con*/

.course_con {
    background: #fff;
    margin-top: 40px;
    box-shadow: 10px 10px 15px #e1e1e1;
}


.notice_title span {
    color: #999999;
    font-size: 12px;
}

/*table*/

table td {
    color: #999;
    width: 20%;
}

table td.time {
    color: #000;
    text-align: center;
    font-size: 14px;
    border-bottom: 2px solid #007ac3;
}

table span {
    color: red
}

.nav-tabs > li {
    margin: 1%;
    text-align: center;
    border: 1px dashed #999
}

.tab-pane .container-fluid {
    padding: 0;
}

.nav-tabs {
    margin-top: 20px;
}



/*activity*/

.activity {
    margin-top: 70px;
}

.activity .numb-pic img {
    width: 100%;
    -moz-box-shadow: 10px 10px 5px #eee;
    /* 老的 Firefox */
    box-shadow: 10px 10px 5px #eee;
}

.activity .numb-pic2 {
    margin-top: -25px;
}




.activity .numb-content {
    padding-top: 40px;
}


.activity .numb-content p {
    color: #999;
    padding-top: 20px;
    line-height: 28px;
}


/*conpany*/

.conpany {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.conpany .box {
    padding: 0;
}

.conpany .box img {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    cursor: pointer;
}

.txt-two {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.txt-two h3 {
    font-weight: normal;
}

.txt-two p {
    font-size: 14px;
    display: block;
    line-height: 20px;
}





.link-bg {
    width: 100%;
}

.link {
    padding: 70px 0;
}

.link .thumbnail img {
    width: 100%;
    transition: 0.5s
}

.link .thumbnail h3,
.link .thumbnail p {
    text-align: center
}






/*侧导航*/

.navmenu {
    transition: :0.5s;
    transition: 0.5s;
    -moz-transition: 0.5s;
    /* Firefox 4 */
    -webkit-transition: 0.5s;
    /* Safari and Chrome */
    -o-transition: width 0.5s;
    /* Opera */
    width: 270px;
    height: 100%;
    background: #292929;
    position: fixed;
    top: 0;
    left: -270px;
    z-index: 3;
    overflow: auto;
}

.navmenu.on {
    left: 0px;
}

.navmenu .list {
    list-style: none;
    padding: 20px 0 0 10px;
}

.navmenu .list a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: white;
    line-height: 1.8em
}

.navmenu .list a:hover {
    color: dodgerblue
}

.navmenu .list .active {
    color: dodgerblue
}

.navmenu .list .active:hover {
    color: white
}

.navmenu .list ul {
    display: none;
    padding: 0;
}

.navmenu .list ul a {
    font-size: 12px;
    display: block;
    padding: 5px 0 5px 40px;
    color: #999
}

.navmenu .list ul a:hover {
    color: dodgerblue
}


.navmenu i {
    border: 4px solid transparent;
    border-top-color: white;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.navmenu .list a:hover i {
    border-top-color: dodgerblue;
}

.bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}



.haeadingpara {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 900px;
}

.fh-section-title.style-1 {
    margin-bottom: 30px;
}

.ourfeatures1 {
    background: #fafafa;
    padding: 70px 0 10px;
}

.ourfeatures1.secpadd {
    padding-bottom: 30px;
}

.main-color {
    color: #1c6ffe;
}




/*--------------------------------------------------------------
     projects1
--------------------------------------------------------------*/

.projects1 {
    background: #333 url(../images/bg2.jpg) no-repeat top left;
    background-size: cover;
    padding: 70px 0 40px;
    margin-top: 70px;
}

.fh-project.style-1 {
    margin-top: -93px;
}

.mdlgrnpara {
    font-size: 18px;
    color: #73b21a;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.letestnews1 {
    background: #ffffff
}

.secpadd {
    padding-top: 70px;
}
.testimonial-2.secpadd {
    background: #ffffff;
}

.projects3 .fh-project.style-3 {
    margin-top: -93px;
}

.projects3 .fh-project .item-project .pro-link img {
    width: 100%;
}

.projects3 .fh-project .item-project .project-thumbnail img {
    width: 100%;
}



/*--------------------------------------------------------------
     Footer
--------------------------------------------------------------*/

.footer-widgets {
    background-color: #161616;
    background-image: url(../images/footer-bg.png);
}


.site-footer {
    padding: 25px 0;
    background-color: #1d1d1d;
    color: #848484;
    font-weight: 300;
}

.site-footer .footer-copyright {
    font-size: 16px;
    color: #848484;
}

.site-footer .footer-copyright a {
    color: #007ac3;
}

.footer-widgets {
    background-color: #161616;
    color: #848484;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-widgets .widget {
    margin-bottom: 0;
}

.footer-widgets .widget-title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 17px;
    padding-top: 25px;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.footer-widgets .widget-title:after {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

.footer-widgets .widget-title a {
    color: #fff;
}

.footer-widgets .menu li {
    padding: 5px 0;
    border: 0;
}

.footer-widgets .menu li:before,
.footer-widgets .menu li:after {
    display: none;
}

.footer-widgets .menu li a {
    color: #848484;
    padding-left: 15px;
}

.footer-widgets .menu li:hover a {
    color: #73b21a;
}

.footer-widgets .gardenhub-social-links-widget {
    margin-top: 20px;
}

.footer-widgets .fh-form-field {
    margin-bottom: 15px;
}

.footer-widgets .fh-form-field .subscribe {
    margin-top: 25px;
    position: relative;
    border: 1px solid #0a253d;
}

.footer-widgets .fh-form-field .subscribe::-webkit-input-placeholder {
    color: #f7f7f7;
}

.footer-widgets .fh-form-field .subscribe::-moz-placeholder {
    color: #f7f7f7;
}

.footer-widgets .fh-form-field .subscribe:-ms-input-placeholder {
    color: #f7f7f7;
}

.footer-widgets .fh-form-field .subscribe:-moz-placeholder {
    color: #f7f7f7;
}

.footer-widgets .fh-form-field .subscribe input[type="email"] {
    width: 100%;
    background-color: transparent;
    color: #f7f7f7;
    padding-left: 10px;
    padding-right: 60px;
    border: 0;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
}

.footer-widgets .fh-form-field .subscribe input[type="email"]:focus {
    outline: none;
}

.footer-widgets .fh-form-field .subscribe input[type="submit"] {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    opacity: 0;
    background-color: transparent;
    z-index: 9999;
}

.footer-widgets .fh-form-field .subscribe .fa {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 99;
}

.footer-widgets .fh-form-field .subscribe:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    background-color: #007ac3;
    z-index: 9;
}

.footer-widgets .footer-logo {
    display: block;
    margin-bottom: 30px;
}

.latest-post {
    padding: 22px 0;
    border-bottom: 1px solid #0a253d;
}

.latest-post:first-child {
    padding-top: 0;
}

.latest-post:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.latest-post .post-date {
    display: block;
    color: #73b21a;
    font-weight: 300;
}

.latest-post a {
    display: block;
    color: #d8d8d8;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.footer-social a {
    color: #848484;
    display: inline-block;
    padding: 0 12px;
    font-size: 16px;
    transition: 0.5s;
}

.footer-social a:last-child {
    padding-right: 0;
}

.footer-social a:first-child {
    padding-left: 0;
}

.footer-social a:hover {
    color: #73b21a;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
}

.footer-menu ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer-menu ul li:last-child {
    padding-right: 0;
}

.footer-menu ul li:first-child {
    padding-left: 0;
}

.footer-menu ul li a {
    color: #848484;
}

.footer-menu ul li a:hover {
    color: #73b21a;
}

.footer-contact {
    padding-top: 5px;
}

.footer-contact .ft-contact i {
    float: left;
    font-size: 23px;
    color: #73b21a;
    margin-top: -3px;
}

.footer-contact .ft-contact i:before {
    font-size: 23px;
}

.footer-contact .ft-contact p {
    margin-left: 45px;
}

.footer-contact .ft-contact.fax {
    margin-bottom: 30px;
}

.footer-contact .ft-contact.phone {
    margin-bottom: 5px;
}

.footer-contact .ft-contact.phone p {
    margin-bottom: 5px;
}

.opening-hours {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.opening-hours li {
    padding: 4px 0;
}

.opening-hours li span {
    float: right;
}

.fh-project ul.filter li {
    color: #ffffff
}




/*** 

====================================================================
	Page Title
====================================================================

***/
.page-header .breadcrumb-area {
    background-color: #fff;
    padding: 22px 0;
    border-bottom: 1px solid #ececec;
    font-size: 16px;
    font-weight: 300;
}

.page-header .breadcrumb-area nav {
    background-color: transparent;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #222222;
    line-height: 20px;
}

.page-header .breadcrumb-area nav a span[itemprop="title"] {
    color: #222222;
    transition: 0.5s;
}

.page-header .breadcrumb-area nav a span[itemprop="title"]:hover {
    color: #007ac3;
}

.page-header .breadcrumb-area nav i {
    padding: 0 5px;
    font-size: 14px;
    color: #007ac3;
}

.page-header .breadcrumb-area nav span {
    color: #007ac3;
}


/*** 

====================================================================
	Blog Section
====================================================================

***/

.blog-section{
	position: relative;
	padding-top: 70px;
	padding-bottom: 60px;
	z-index: 1;
    background: #fff;
}
.blog-section .section-title{
	position: relative;
	margin-bottom: 40px;
}
.blog-section .item-holder{
	position: relative;
	margin-bottom: 40px;
	transition: all 500ms ease;
}
.blog-section .item-holder:hover{
	transition: all 500ms ease;
	box-shadow: 0 0 20px 5px #f1f1f1;
}
.blog-section .item-holder .image-box{
	position: relative;
}
.blog-section .item-holder img{
	position: relative;
	width: 100%;
}
.blog-section .item-holder .image-box .date-box{
	position: absolute;
	bottom: -20px;
	left: 30px;
}
.blog-section .item-holder .date-box span{
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 400;
	padding: 8px 20px;
	background: #007ac3;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
}
.blog-section .item-holder .content-text{
	position: relative;
	padding: 0px 30px;
	margin-top: 40px;
	border: 1px solid #f7f7f7;
	border-top: none;
}
.blog-section .content-text .sec-title h5{
	position: relative;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	color: #222222;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.blog-section .content-text .sec-title h5:before{
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: '';
	width: 50px;
	height: 2px;
	background: #007ac3;
}
.blog-section .content-text .text p{
	font-size: 14px;
	line-height: 26px;
	color: #848484;
	font-weight: 400;
	padding-bottom: 15px;
}
.blog-section .item-holder .blog-info{
	border-top: 1px solid #f6f6f6;
}
.blog-section .item-holder .blog-info li{
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	color: #848484;
	padding: 12px 0px;
	margin-right: 10px;
	text-transform: capitalize;
	font-family: 'Antic', sans-serif;
}
.blog-section .item-holder .blog-info li i{
	font-size: 13px;
	margin-right: 8px;
}



.pagewrapper {
    padding: 70px 0 30px;
    background: #fff
}
.all-project ul.filter {
    margin-bottom: 40px;
    list-style: none;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.all-project ul.filter li {
    font-size: 14px;
    color: #848484;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 9px 10px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    background-color: #fafafa;
    transition: all 0.5s;
}

.all-project ul.filter li a {
    color: #848484;
}

.all-project ul.filter li:after {
    content: '';
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border: 1px dashed transparent;
    transition: 0.5s;
}

.all-project ul.filter li.active,
.all-project ul.filter li:hover {
    background-color: #73b21a;
    color: #fff;
}

.all-project ul.filter li.active a,
.all-project ul.filter li:hover a {
    color: #fff;
}

.all-project ul.filter li.active:after,
.all-project ul.filter li:hover:after {
    border-color: #fff;
}

.all-project ul.filter li:first-child {
    margin-left: 0;
}

.all-project ul.filter li:last-child {
    margin-right: 0;
}
.project-wrapper {
    margin-bottom: 30px;
    text-align: center;
}

.project-wrapper .project-thumbnail {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.project-wrapper .project-thumbnail .pro-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: 0.5s;
    z-index: 99;
}

.project-wrapper .project-thumbnail img {
    transition: 0.5s;
}

.project-wrapper .project-summary h2 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1;
}

.project-wrapper .project-summary h2 a {
    color: #222;
}

.project-wrapper .project-summary .project-cat a {
    color: #73b21a;
    font-size: 16px;
    font-weight: 300;
}

.project-wrapper.col-4 .project-summary h2 {
    font-size: 20px;
}

.project-wrapper:hover .project-thumbnail .pro-link {
    opacity: 0.6;
}

.project-wrapper:hover .project-thumbnail img {
    transform: scale(1.06);
}


.activity-detail{
    background: #fff;
}
.activity-detail .activity-list{
    margin-top: 30px;
}



/*** 

====================================================================
	reselt Section
====================================================================

***/

.reselt{
    margin: 40px 0;
}
.reselt .media{ 
    background: #fff;
    padding: 20px; 
    border-bottom: 1px solid #eeeeee;
}
.reselt .media .media-body{
    color: black
}




 .entry-header {
    padding-top: 30px;
}
.entry-meta {
    padding-bottom: 20px;
    border-bottom: 1px dashed #ececec;
}
 .entry-content {
    padding: 30px 0;
}
.entry-meta .meta {
    display: inline-block;
    padding-right: 20px;
}

.entry-meta .meta:last-child {
    padding-right: 0;
}
.entry-meta .fa {
    padding-right: 10px;
    color: #73b21a;
    font-size: 15px;
}


.partener1 {
    background: #fafafa;
    padding: 70px 0;
}




/*--------------------------------------------------------------
    Carousel
--------------------------------------------------------------*/

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.owl-height {
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.owl-nav div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.5s;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background-color: #fff;
}

.owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}






.Evaluayion-detail{
    padding: 30px 0;
}
.modal-body form p{ color:red; padding-top: 10px;}

.btn-login{ width: 130px; height: 40px; line-height: 40px;}



/*--------------------------------------------------------------
    User-Center
--------------------------------------------------------------*/
.uc-left{
    margin: 40px 0;
   
}
.information{
    width: 100%;
    float: left;
    position: relative; 
    padding: 20px;
     background: #fff;
}
.information .inf-pic{
    float: left;
    width: 83px;
    padding-top: 10px;
}
.information .inf-text{
    float: none; 
    width: auto;
    padding: 0 0 0 95px;
}
.information .inf-text p{ 
    color: #999999
}
.Vertical-nav{ 
    margin-top: 10px;
    background: #fff;
}
.Vertical-nav ul{
    margin: 0;
    padding: 0;
}
.Vertical-nav ul li{
    list-style: none;
    border-bottom: 2px solid #f1f1f1;
    
} 
.Vertical-nav ul li:hover{
    background: #73b21a;
    
} 
.Vertical-nav a i{
    display: inline-block;
    font-size: 20px;
    padding: 16px 0;
    width: 55px;
    vertical-align: middle;
    margin-right: 10px;
    border-right: 2px solid #f1f1f1;
    text-align:center;
}
.uc-right{
    margin: 40px 0;
}
.uc-right .information-detail{
    padding: 10px;
    background: #ffffff;
}
.uc-right .fh-section-text{
    padding: 20px
}
.Vertical-nav ul .this_on{
    background: #73b21a;
}
.Vertical-nav ul .this_on a{
    color: #fff;
}
.uc-right .container-fluid{
    margin: 20px;
}


.score-table{ padding-top: 20px;}




