@media screen and (max-width: 768px) {
    .logo {
        display: block;
        margin: 0 auto;

        margin-top: 8px;
    }
    .activity .numb-pic2 {
        margin-top: 20px;
    }
    .course_con {
        background: #fff;
        margin-top: 0;
        box-shadow: 10px 10px 15px #e1e1e1;
    }
    .secpadd {
        padding-top: 30px;
    }
    .banner .swiper-slide a {
        display: block;
        height: 400px;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .activity .numb-content {
        padding-top: 0;
    }
    .projects1 {
        margin-top: 30px;
    }
    .activity {
        margin-top: 30px;
    }
    .link {
        padding: 30px 0;
    }
    .blog-section {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .pagewrapper {
        padding: 30px 0 30px;
        background: #fff
    }
    header.on .callout {
        margin: 5px 20px;
        font-size: 14px;
    }

}