body {
 	width:100%;
 	height:100%;
	color: #5a5a5a;
} /*非常重要的样式让背景图片100%适应整个屏幕*/  

 /*导航条样式*/
.my-navbar {
	padding:20px 0;
	background-color:#dedede;
	opacity:0.9;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}  
.my-navbar a{
	background:transparent !important;
	color:#000;
	font-size:1.5rem;
	font-weight:700;
}  
.my-navbar a:hover {
	color:#45bcf9 !important;
	background:transparent;
	outline:0
}  
.my-navbar a {
	transition: color 0.5s ease-in-out;
}/*-webkit-transition ;-moz-transition*/  
.top-nav {
	padding:0;
	background:#000;
}  
button.navbar-toggle {
	background-color:#fbfbfb;
}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
button.navbar-toggle > span.icon-bar {
	background-color:#dedede;
}  
#bs-example-navbar-collapse-1 {
	max-height: none;
}
.dropdown-menu {
	background-color: #dedede;
}
.navbar-brand {
	padding-top: 0;
}
/*#my-carousel {
	margin-bottom: 30px;
}*/
#my-carousel .item {
	height:auto;
}
#my-carousel img {
	width: 100%;
	height:55rem;
}
.hr-home {
	margin: 50px 0;
}
/*notice*/
#my-notice {
	text-align: center;
	margin-bottom: 50px;
}
/*activity*/
#a-img {
	height: 350px;
}
.a-content {
	margin: 10px 0;
	height: 350px;
	overflow:hidden;
}
#a-img img {
	width: 100%;
	height: 100%;
}
.tab-content .tab-pane {
	padding: 20px 0;
	
}
.tab-content .tab-pane ul li {
	margin-bottom: 1rem;
}
.tab-content .tab-pane ul li a {
	color: #000000;
}
.tab-content .tab-pane ul li a:hover {
	color: #23527C;
}
.tab-content .tab-pane ul li p{
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:80%;
}

.media img {
	width: 500px;
	height: 500px;
}

.myActivity .col-md-7 {
	padding-left: 8rem;
}
/* Featurettes
------------------------- */
.featurette {
	margin: 9rem 0;
}
.featurette-image {
	width: 100%;
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -1px;
}

/*company*/
.myCompany {
	text-align: center;
	background-color: #f0f0f0;
	padding: 5rem 0;
}
.myCompany .col-md-4 {
	padding: 3rem;
}
.myCompany img {
	width:100%;
}
/*activity*/
.myActivity {
	padding: 5rem 0;
}
/*course*/
#myCourse table tr td {
	vertical-align: middle;
}

.myCieecourse {
	background-color: #f0f0f0;
}
.ciee-course {
	margin-top: 10rem;
}
.ciee-course .row {
	margin-bottom: 3rem;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    color: #231f20;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 35px;
    text-align: center;
}
h2:before {
    content: "";
    width: 76px;
    height: 7px;
    background: #ffc21f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.ciee-course .nav-tabs {
	margin: 0 auto;
	text-align: center;
}
.ciee-course .nav-tabs > li.active > a, .ciee-course .nav-tabs > li.active > a:hover, .ciee-course .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: pointer;
	background-color: #FAC93E;
	border-bottom: 5px solid #4d8efe;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	width:16.5rem;
	white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}

.ciee-course .nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.428571429;
	border-radius: 0 0 0 0;
	width: 16.5rem;
	color: #555;
	font-size: 20px;
    font-weight: 500;
   	background-color: #ddd;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}

.ciee-course .tab-content {
	background-color: #ffffff;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
}

.ciee-course .tab-content h5 {
	color: #bdc3c7;
	font-weight: 700;
	letter-spacing: 1px;
}

.gray_content_area {
    padding: 0 15px;
    background: #f0f0f0;
}

.content_holder {
    padding: 3rem 0 2rem 0;
}

.content_holder h2 {
    font-size: 40px;
    font-weight: 700;
    color: #231f20;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 35px;
}

.content_holder p {
    font-size: 18px;
    line-height: 34px;
    color: #231f20;
    padding-bottom: 20px;
}

.content_holder h2:before {
    content: "";
    width: 76px;
    height: 7px;
    background: #ffc21f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.three_item_box {
    margin-top: -7px;
    padding-bottom: 47px;
}

.three_item_box ul li {
    font-size: 26px;
    font-weight: 700;
    color: #231f20;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 0 28px;
}

.content_info {
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.product_content_area {
    padding: 0 15px;
    background: #fff;
}

.product_holder {
    max-width: 1054px;
    margin: 0 auto;
}

.product_column {
	float: left;
	width: 100%;
    height: 33rem;
    border: 3px dashed #FAC93E;
    padding: 25px 10px 10px 10px;
    margin: 0 1rem 3rem 1rem;
    font-weight:bold;
}

.product_icon {
    padding-bottom: 20px
}

.product_icon img {
    margin: 0 auto;
    width: 13rem;
    height: 13rem;
}

 h4 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    padding-bottom: 1rem;
    display: block;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}

 .product_column p{
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding-bottom: 0px;
    overflow: hidden;
    display: block;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}

.product_btm {
    padding-top: 10px
}
/*footer*/
.footer_area {
    padding: 0 15px;
    background: #000;
}
footer {
    max-width: 1210px;
    padding: 20px 0 13px 0;
    overflow: hidden;
}

.footer_menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.footer_menu p{
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.footer_menu ul li a {
    color: #fff
}

.footer_social {
	margin:3em;
}


.footer_social a {
    margin-left: 16px;
    margin-bottom: 12px;
}

.footer_column {
    float: left;
    margin-right: 30px;
    width: 105px;
}
@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 15px;
  }
}


@media screen and (max-width: 1216px) {
}
@media screen and (max-width: 1130px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 768px) {/* 竖立ipad平板及各种手机适配，ipad pro除外 */
	.footer_column {
        width: 100%;
        text-align: center;
    }
    .footer_menu {
        padding-top: 0;
    }
    .footer_menu p{
   		text-align: center;
	}
	#my-carousel {
		margin-top: 9rem;
	}
	#my-carousel img {
		height:20rem;
	}
	.ciee-course .nav-tabs li {
		float: none;
		padding: 0.1rem 2rem;
	}
	.ciee-course .nav-tabs li a{
		width: auto;
	}
	.ciee-course .nav-tabs > li.active > a, .ciee-course .nav-tabs > li.active > a:hover, .ciee-course .nav-tabs > li.active > a:focus {
		width:auto;
		border-left: 5px solid #4d8efe;
		border-right: 5px solid #4d8efe;
		border-bottom-color: transparent;
	}
	.gray_content_area {
	    padding: 0 ;
	}

	.product_column {
		width: 94%;
	}
	.myActivity .col-md-7 {
	    padding-left: 0;
	}
	.featurette {
		text-align: center;
	}
}
@media screen and (max-width: 640px) {
	.footer_social {
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 580px) {
}


