body {
	width: 100%;
	height: 100%;
}
/*common*/
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.form-error { text-align:center; padding:10px 0; color:#ff5a5f; font-size:14px; }
.form-error li { margin-bottom:5px; }
.form-return { position:relative; text-align:center; /* padding:10px 10px 10px 30px; */ font-size:14px; }
.form-return p { padding:0; }
.form-return:before { position:absolute; left:10px; top:10px; /* content:"\f06a"; */ font-family:FontAwesome; }
.form-return-success { border-color:#3fb34f; color:#3fb34f; }
.form-return-success p { color:#3fb34f; }
.form-return-success:before { content:"\f00c"; }
.form-return-faild { border-color:#ff5a5f; color:#ff5a5f; }
.form-return-faild p { color:#ff5a5f; }
.form-return-faild:before { /* content:"\f00d"; */ top:10px; }
.cieeLogo {
	margin: 1rem auto 1rem auto;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 1.5rem;
	font-weight:700;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #45bcf9;
}
.navbar-inverse .navbar-nav>.open>a:hover {
	color: #45bcf9;
}
.navbar-brand {
	margin-top: -1.2rem;
}

#bs-example-navbar-collapse-1 {
	max-height: none;
}
/*page*/
.tab-content .tab-pane {
    padding: 20px 0;
}
img.my-logo {
	margin-top: 10rem;
}
.my-page {
	padding:50px 0;
}
.my-content {
	padding: 2rem;
	margin-bottom: 5rem;
}

.my-title {
	margin-bottom: 3rem;
	border-bottom: 1px solid #D5EFFF;
}
.my-title h3 {
	white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}
.my-title h3:before {
	content: url(../img/logo-sa1.png);
}
.my-title .date {
	float: right;
    padding: 15px 0 0;
    font-size: 12px;
    color: #777;
}
/*course/activity detail*/
#infos {
	background-color: #f0f0f0;
}
#infos .house-title {
	margin: 0 5rem;
	border-bottom: 1px dashed #FAC93E;
}
#infos .house-title p {
	color: #5E5E5E;
}
#infos .house-money {
	margin: 1rem 5.5rem 0 5.5rem;
}
#infos .house-money dt {
	float: left;
	font-size: 18px;
	font-weight: normal;
	width: 7rem;
	color: #999;
}
#infos .house-money dd {
	font-size: 18px;
	font-weight: bold;
	color: orangered;
}
.my-content .text dl {
	margin: 1rem;
}
.my-content .text dt {
	float: left;
	font-size: 14px;
	font-weight: normal;
	width: 7rem;
	color: #999;
}
.my-content .pic img{
	width: 100%;
}
.my-content .intro {
	padding: 2rem;
}
.my-content .text {
	padding: 0 3rem;
}

.my-content .text p {
	color: #5E5E5E;
	padding: 1rem 0;
	border-bottom: 1px dashed #FAC93E;
}
.my-content .text ul {
	list-style: none;
	margin: 3rem 0 3rem -3rem;
}
.my-content .text ul li {
	margin-bottom: 0.5rem;
}
/*footer*/
.footer_area {
	margin-top: 10em;
    padding: 0 15px;
    background: #000;
}
footer {
    max-width: 1210px;
    padding: 20px 0 13px 0;
    overflow: hidden;
}

.footer_menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.footer_menu p{
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.footer_menu ul li a {
    color: #fff
}

.footer_social {
	margin:3em;
}


.footer_social a {
    margin-left: 16px;
    margin-bottom: 12px;
}

.footer_column {
    float: left;
    margin-right: 30px;
    width: 105px;
}


/*tab-list*/
.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	font-weight: bold;
	cursor: default;
	background-color: #FAC93E;
	border-left: 5px solid #4d8efe;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	width: 100%;
}

.nav-tabs > li > a {
	display: block;
    position: relative;
    height: 4rem;
    text-align: center;
    line-height:2.25rem;
    background: #DDD;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    border-radius: initial;
	border-bottom: 1px solid #dddddd;
	width: 100%;
	white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
   	
}
.tab-content {
	background-color: #ffffff;
	padding-right: 10px;
	border: 1px solid #D5EFFF;
}

.tab-content h5 {
	color: #bdc3c7;
	font-weight: 700;
	letter-spacing: 1px;
}
/*course-list*/
.contents-courses .courses-list .item { 
	float: left;
	width: 97%;
	height: 42rem;
	margin: 0 1rem;
	text-align: left;
	position: relative;
	-webkit-perspective: 500;
	-moz-perspective: 500;
	-ms-perspective: 500;
	-o-perspective: 500;
	perspective: 500;
	margin-bottom:2rem;
	border:1px solid #DDD; 
}
.contents-courses .courses-list .item .pic { 
	width:100%;
	height:30rem;
	border-bottom:1px solid #DDD; 
}
.contents-courses .courses-list .item .text { 
	padding:0.5rem 2rem; 
	/* background:#eee; */ 
}
.contents-courses .courses-list .item .text h3 { 
	margin-bottom:0.85rem; 
	font-size:1.8rem; 
	color:#000; 
	font-weight:normal; 
}
.contents-courses .courses-list .item .text h3 a { 
	display: block;
    color: #000;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}
.contents-courses .courses-list .item .text h3 a:hover { 
	color:#2E6DA4;
	text-decoration: none; 
}
.contents-courses .courses-list .item .text .intro p { 
	display: block;
    color: #000;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}
/*text-list*/
.text-list li { 
	padding:6px 0; 
	border-bottom:1px dotted #DDD; 
	list-style: none;
}
.text-list li a { 
	padding-left:1rem; 
	color:#222; 
	background:url(../img/ico-point.gif) left center no-repeat;
	width: 50%;
	display: block;
	white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
	
}
.text-list li a:hover { 
	color:#4d8efe; 
}
.text-list .date { 
	float:right; 
	padding-left:5px; 
	color:#b5b5b5; 
}
.text-list .ico { 
	float:left; 
	width:3px; 
	height:3px; 
	overflow:hidden; 
}
/*pic-text-list*/
.contents-notice .pic-detail-list .row { 
	width: 100%;
	padding:1.5rem 0; 
	margin-left: 0.5rem;
	border-top:1px dashed #E1E1E1; 
}
.contents-notice .pic-detail-list .row:nth-child(1) { 
	padding-top:0; 
	border-top:0; 
}
.contents-notice .pic-detail-list:last-child { 
	padding-bottom:0; 
}
.contents-notice .pic-detail-list .pic { 
	width:100%; 
}
.contents-notice .pic-detail-list .pic img{ 
	width:100%; 
	height: 11rem;
}
.contents-notice .pic-detail-list .text { 
	margin-left: -1rem;
}
.contents-notice .pic-detail-list .text h3 { 
	margin-bottom:5px; 
	font-size:16px; 
}
.contents-notice .pic-detail-list .text h3 a { 
	display: block;
	width: 60%;
	color:#000; 
	white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}
.contents-notice .pic-detail-list .text h3 a:hover {
	text-decoration: none;
}
.contents-notice .pic-detail-list .text h3 em { 
	margin-right: 0.5rem;
	margin-top: -1.5rem;
	font-style:normal; 
	color:#777; 
	font-size:1.25rem; 
	font-weight:normal; 
}
.contents-notice .pic-detail-list .text .intro { 
	line-height:1.6; 
	font-size:12px; 
	color:#666; 
}
.contents-notice .pic-detail-list .text .intro a { 
	color:#3d8ef2; 
	text-decoration:underline; 
}
.contents-notice .pic-detail-list .text .intro p { 
	display: block;
	width: 100%;
    color: #000;
    white-space:nowrap;
   	text-overflow:ellipsis;
   	word-break:break-all;
   	overflow:hidden;
}

/*pager*/
.pager { 
	text-align:right; 
	padding:10px 0; 
}
.pager li>a {
	border-radius:initial;
}
.pager a, .pager span { 
	display:inline-block; 
	margin:0 3px; 
	padding:0 10px; 
	background:#F3F3F3; 
	border:1px solid #E2E2E2; 
	font-weight:bold; color:#333; 
	
}
.pager .disabled {
	background:#FFF; 
	border-color:#E2E2E2; 
	color:#BABABA; 
	font-weight:normal; 
}
.pager .current { 
	background:none; 
	border-color:transparent; 
	color:#FCC83E; 
}
/*
.pager span { margin:0 0 0 20px; }
.pager input { width:28px; height:28px; text-align:center; line-height:28px; vertical-align:middle; margin:0 3px; padding:0; border:1px solid #E2E2E2; }
.pager button { height:28px; margin:0 0 0 20px; padding:0 15px; background:#F3F3F3; border:1px solid #E2E2E2; cursor:pointer; }
*/
.pager li { 
	display:inline-block; 
}

/*flexslider*/
#slider {
	width: 50%;
	left: 50%;
	margin-left: -25%;
}
#slider .slides {
	transition-duration: 0s; transform: translate3d(-862px, 0px, 0px);
}
#carousel {
	width: 80%;
	left: 50%;
	margin-left: -40%;
}
#carousel .slides {
	transition-duration: 0s; transform: translate3d(0px, 0px, 0px);
}
#carousel .slides img {
	height: 7rem;
}
#carousel .flex-active-slide img {
	border: 0.5rem solid #EEA236;
}

/*signin-content*/ 
#signin-content button {
	margin: 3rem auto;
	width: 100%;
}
#signin-content .forget-pass {
	margin-left: 13rem;
	text-decoration: underline;
}

/*upload按钮样式*/
.upload {
    padding: 4px 10px;
    height: 3rem;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    background: #5CB85C;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

@media screen and (max-width: 768px) { /* 竖立ipad平板及各种手机适配，ipad pro除外 */
	.footer_column {
        width: 100%;
        text-align: center;
    }
    .footer_menu {
        padding-top: 0;
    }
    .footer_menu p{
    	text-align: center;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-right: 5px solid #4d8efe;
	}
	
	#slider {
		width: 100%;
		left: 50%;
		margin-left: -50%;
	}
	#carousel {
		width: 100%;
		left: 50%;
		margin-left: -50%;
	}
	/*signin-content*/
	#signin-content .forget-pass {
		margin-left: 3rem;
	}
	.contents-notice .pic-detail-list .pic img{ 
		height: auto;
	}
	
}
@media screen and (max-width: 640px) {
	.footer_social {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) { 
	.navbar-brand img {
		margin-left: -3rem;
	}
	/*signin-content*/ 
	#signin-content {
		padding: 5rem 20rem;
	}
	#signin-content button {
		margin: 3rem auto;
		width: 50%;
	}
	.nav-user {
		width: 80%;
	    white-space:nowrap;
	   	text-overflow:ellipsis;
	   	word-break:break-all;
	   	overflow:hidden;
	} 
	.navbar-inverse .navbar-nav {
		margin-left: -3rem;
	}
}